@model Lab3.Models.Tbl_Payment_Method

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tbl_Payment_Method</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pa_Method)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pa_Method)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Pa_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
